@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,200);





::-webkit-scrollbar{
  width: 10px;
	height: 10px;
	cursor: pointer;	
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px 2px rgba(0,0,0,0.3);
    background: #007491;
}
::-webkit-scrollbar-thumb {
    background: #002f3b; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    cursor: pointer;
}
::selection{
    background: mintcream; 
}

.appsBtn, .startHtxt {
    font-family: Arial, Helvetica, sans-serif;
}
.startHtxt {
	color: white;

}
h1 {
  font-size: 1.5em;
  margin-bottom: 10px;
  }


#startmenu {
  position: fixed;
  margin: 0 auto;
  width: 450px;
  height: 0px;
  left: 0;
  right: 0;
  bottom: 35px;
  z-index: 2;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.5s;
  background-color: transparent;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 15px 0px #000000; 
  box-shadow: 0px 0px 15px 0px #000000;
}

#startmenu.opened {
  height: 450px;
}


#starticons {
	position: absolute;
	z-index: 10;
	top: 48px;
	height: 86%;
	left: 4px;
	/* overflow-y: scroll; */
}
#starticons a {
    display: inline-table;
    cursor: pointer;
    padding: 2px 8px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.2s;
}
#starticons a:hover {
	background: white;
	color: black;
}
#time {
  font-family: Helvetica;
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
  font-size: 40px;
  color: lightgrey;
/* background: slategrey; */backdrop-filter: blur(25px);border-radius: 7px;}
button {
    display: inline-block;
    position: absolute;
    border: 2px solid #000;
    border-radius: 5px;
    margin: -2px 0 0 10px;
    font-size: 15px;
    /* padding: 1px 4px; */
    background: #CCC;
    font-weight: bold;
    cursor: pointer;
    height: 30px;
    bottom: 0;
    left: 48%;
    right: 48%;
}

.screen {
  /* border-radius: 5px; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-style: none;
  overflow-x: hidden;
  overflow-y: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: scroll;
  background-color: transparent;
}


body {
    width: 0%;
    text-align:center;
    overflow-x:hidden;
    background: url("https://bing.biturl.top/?resolution=1920&format=image&index=0&mkt=en-CA") !important;
    background-image: url(../img/background.png);


	
  /* Preserve aspet ratio */
  
}
#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}